@import "../../style.scss";

.productList {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  flex-grow: 1;
  padding: 3rem 0.5rem;
  column-gap: 6rem;
  row-gap: 1rem;
  @include lg {
    column-gap: 2rem;
  }
  @include md {
    column-gap: 1rem;
  }
  @include xs {
    align-items: center;
    padding: 1.5rem 0.5rem;
    column-gap: 0;
  }
}
